@import "variables";

@mixin tab-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
@mixin tab-button {
    font-weight: $bold;
    margin-top: 5px;
    min-width: 80px;
    max-width: 300px;
    outline: none;
    cursor: pointer;
    padding: 5px 5px;
    text-align: center;
    text-transform: uppercase;
    transition: 1s;
}