/* Fonts & Colors */ 
$black: #1b1b1c;
$blue: #1e555c;
$light-blue: #d1ecf0;
$light-teal: #70C1B3;
$medium-blue: #328E9A;
$dark-purple: #5D0070;
$peach: #F7B0B0;
$purple: #C3B0F7;
$teal: #2A9D8F;
$red: #720026;
$white: #f4f3ee;
/* Animations */
$animation: fadeIn ease 5s;
/* Fonts */
$body-font: 'Chivo', sans-serif;
$heading-font: 'Archivo Black', sans-serif;
$bold: 700;
$light: 300;
$regular: 400;